*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: sans-serif, Arial, Helvetica;
  font-size: 16px;
  line-height: 1.5;
  background-color: #0f0f0f;
  color: #bebebe;
  width: 100vw;
  height: 100vh;
  user-select: none;

  &::-webkit-scrollbar {
    width: 0;
  }
}
